
@define-mixin small-screen {
	@media (min-width: 425px) {
		@mixin-content;
	}
}

@define-mixin section-title {
	font-size: 3.5rem;
	color: $color-darkest;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 3rem;
}