$color-darkest: #2A2B2A;
$color-darker: #404040;
$color-dark: #626265;
$color-grey: #B8B8B7;
$color-grey-light-1: #D5D5D5;
$color-grey-light-2: #828282;
$color-grey-dark: #585956;
$color-beige: #F5F6EF;
$color-orange: #DCA63B;
$color-text-light: #F6F6EF;
$color-text-dark: #2A2B2A;