.info-blurbs {

	& .container {
		display: flex;
		flex-direction: column;

		@mixin medium-screen--medium {
			flex-flow: row wrap;
			justify-content: space-around;
		}

		@mixin large-screen--medium {
			justify-content: space-between;
		}
	}
	
	&__blurb {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
		margin-top: 4.8rem;
		max-width: 25rem;
		display: flex;

		@mixin small-screen--large {			
			max-width: 32.5rem;
		}

		@mixin medium-screen--medium--middle {
			max-width: 40rem;
		}

		@mixin large-screen--medium {
			margin-left: 0;
			margin-right: 0;
			max-width: 32.5rem;
		}

		&--1 {

			@mixin medium-screen--large {
				opacity: 0;
				transform: translateX(-100px);
				animation: slide-right 1s 1s ease-in-out forwards; 

			}
		}

		&--2 {
			
			@mixin medium-screen--large {
				opacity: 0;
				transform: translateX(-100px);
				animation: slide-right 1s .5s ease-in-out forwards; 

			}
		}

		&--3 {
			
			@mixin medium-screen--large {
				opacity: 0;
				transform: translateX(-100px);
				animation: slide-right 1s ease-in-out forwards; 

			}
		}


		&-icon__container--outer {
			position: absolute;
			top: -5.5rem;
			left: -5.5rem;
			z-index: 0;
			width: 12rem;
			height: 12rem;
			/*border: 2px solid $color-darkest;*/
			background-color: $color-darkest;
			border-radius: 50%;
		}

		&-icon__container--inner {
			position: absolute;
			top: -5.3rem;
			left: -5.3rem;
			z-index: 2;
			width: 11.6rem;
			height: 11.6rem;
			background: #FFF;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			
		}

		&-icon {
			font-size: 5rem;
			position: absolute;
			left: -2.5rem;
			top: -2.5rem;
			z-index: 10;
		}

		&-text {
			font-size: 1.4rem;
			font-style: italic;
			border: 2px solid $color-darkest;
			border-radius: 2rem;
			position: relative;
			overflow: hidden;
			/*z-index: 1;*/

			& p {
				padding: 3rem;
				background-color: #FFF;
				position: relative;
				z-index: 3;
			}
		}
	}
}