.large-hero {
	position: relative;
	margin-top: 12.9rem;
	/*height: 24vw;*/

	@mixin small-screen--large {
		margin-top: 10.9rem;
	}

	@mixin medium-screen--large {
		margin-top: 19.3rem;
	}

	& .container {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);

	}

	&__img {

	}

	&__text {
		color: #FFF;
		max-width: 57rem;

		&--headline {
			font-size: 3.5rem;
			font-style: italic;
			font-weight: 400;
			text-align: center;

			@mixin small-screen--medium {
				font-size: 4.8rem;
			}

			@mixin small-screen--large {
				text-align: left;
			}

			span {
				font-weight: 800;
			}
		}
	}
}