.site-header {
	background-color: $color-darker;

	&__menu-container {
		background-color: $color-darkest;
		padding: 1.5rem 3rem;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__menu {
		font-size: 1.6rem;
		margin-right: 6rem;
	}

	&__menu-list {

	}

	&__menu-item {
		display: inline-block;
		border-radius: 3rem;
		transition: background-color .15s ease-in-out, color .25s ease-in-out;

		&--active,
		&:hover {
			background-color: $color-dark;
			
		}

		&--active a,
		&:hover a {
			color: $color-text-dark;
		}
	}

	&__menu-link {
		display: block;
		color: $color-beige;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 3rem;
	}

	&__search-icon {
		font-size: 2rem;
		color: $color-beige;
	}

	&__info-bar {
		padding: 3.5rem 3.5rem;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		font-family: "Merriweather", serif;
		font-weight: 900;
		color: $color-orange;
		font-size: 3.6rem;
		letter-spacing: -1.5px;
		margin: 0;
	}

	&__info-container {
		display: flex;
		font-size: 1.2rem;
		color: $color-grey-light-2;
	}

	&__info-phone {
		padding-right: 3rem;
		margin-right: 3rem;
		border-right: 1px solid $color-grey-light-2;
		display: flex;
		align-items: center;
	}

	&__info-location {
		display: flex;
		align-items: center;
	}

	&__info-icon {
		font-size: 2.5rem;
		margin-right: .5rem;

		&--large {
			font-size: 3rem;
		}
	}

	&__info-text {
		line-height: 1.3em;

		address {
			font-style: normal;
		}		
	}
}