.testimonial {
	background-color: $color-beige;
	padding-bottom: 0;

	&__inner {
		@mixin section-container;
		position: relative;
		padding-bottom: 6rem;

		&::after {
			@mixin section-divider;
		}
	}

	&-inline {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		@mixin small-screen--large {
			justify-content: space-between;
			flex-wrap: nowrap;
		}

		&__quote-icon {
			font-size: 7rem;
			color: $color-orange;
			margin-right: 3rem;
			margin-top: -3.5rem;
		}

		&__image {
			border: 1px solid $color-darkest;
			border-radius: 3rem;
			margin-right: 2.5rem;
		}

		&__text {
			margin-top: 2rem;
			color: $color-grey-light-2;
			font-size: 1.8rem;
			font-style: italic;
			font-weight: 300;
			line-height: 1.5;

			@mixin small-screen--large {
				margin-top: 0;
			}
		}

		&__details {
			color: $color-orange;
			font-size: 2.6rem;
			font-weight: 300;
			margin-top: 2rem;
		}
	}
}