.welcome {
	background-color: $color-beige;

	&__top {
		padding-bottom: 6rem;
		position: relative;
		display: flex;
		justify-content: space-between;

		&::after {
			content: '';
			height: 2px;
			width: 100%;
			background: url('../../assets/images/bg_hr.png') repeat-x;
			position: absolute;
			bottom: 0;
		}
	}

	&__text-content {
		width: 55%;
		font-size: 1.4rem;

		&__title {
			@mixin section-title;
		}

		&__text {
			line-height: 1.3;
		}
	}

	&__buttons {
		width: 35%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.btn {
			min-width: 45%;
			text-align: center;
			margin-top: 4rem;
		}
	}

	&__bottom {
		padding-top: 6rem;
		display: flex;
		justify-content: space-between;
	}

	&__blurb {
		max-width: 37.5rem;
		font-size: 1.4rem;
		
		&__image {
			border: 1px solid $color-darkest;
		}

		&__title {
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 700;
			color: $color-darkest;
			margin-top: 3rem;
		}

		&__text {
			margin-top: 3rem;
			line-height: 1.3;
		}

		&__link {
			display: inline-block;
			margin-top: 2rem;
			text-decoration: none;
			color: $color-orange;
			font-size: 1.4rem;
			font-weight: 400;
			text-transform: uppercase;
			transition: color .2s;

			&:hover {
				color: $color-darkest;
			}
		}
	}


}