.welcome {
	background-color: $color-beige;

	&__top {
		padding-bottom: 6rem;
		position: relative;
		display: flex;
		justify-content: space-between;

		&::after {
			content: '';
			height: 2px;
			width: 100%;
			background: url('../../assets/images/bg_hr.png') repeat-x;
			position: absolute;
			bottom: 0;
		}
	}

	&__text-content {
		width: 55%;
		font-size: 1.4rem;

		&__title {
			@mixin section-title;
		}

		&__text {

		}
	}

	&__buttons {
		width: 35%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.btn {
			min-width: 45%;
			text-align: center;
			margin-top: 4rem;
		}
	}

	&__bottom {
		padding-top: 6rem;
	}

	&__blurb {
		
		&__image {

		}

		&__title {

		}

		&__text {

		}

		&__link {

		}
	}


}